#shape-1,
#shape-2,
#shape-3 {
  min-width: 400px;
  height: 400px;
  mix-blend-mode: multiply;
  filter: blur(24px);
}

#shape-1 {
  background-color: hsl(256, 90%, 81%);
  left: 20px;
}
#shape-2 {
  background-color: hsl(46, 98%, 56%);
  right: 20px;
}
#shape-3 {
  background-color: hsl(329, 56%, 68%);
  left: 130px;
  top: 50px;
}

.scale-up-center {
  animation: scale-up-center 7s cubic-bezier(0.39, 0.575, 0.565, 1)
    infinite both;
}
@keyframes scale-up-center {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
.fade-delay-2000 {
  animation-delay: 2s;
}
.fade-delay-4000 {
  animation-delay: 4s;
}
#featured-image {
  z-index: 10;
  margin-top: -70px;
}

body {
    background-color: #fbfbfb;
  }



